  footer {
    padding: 5%;
    margin-top: 15%;
    width: 560px;
    margin: 0 auto;
  }
  
  .builtWith {
    font-weight: bold;
  }
  
  .fa-github {
    color: whitesmoke;
  }
  
  .fa-4x {
    color: black;
  }
  
  .fa-github:hover {
    color: rgb(85, 26, 139);
  }
  
  .github-profile-link {
    text-decoration-line: none;
    font-weight: bold;
  }
  
  .github-profile-link:hover {
    color: blue;
  }
  
  .App-logo {
    width: 35px;
    height: 35px;
    padding-left: 6px;
    padding-right: 6px;
  }
  
  .react-logo {
    width: 80px;
    height: 80px
  }
  
  .redux-logo {
    width: 50px;
    height: 50px;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }