.Simon {
    z-index: 1;
    position: absolute;
    top: 33%;
    left: 33%;
    border: 1px solid black;
    background-color: white;
  }
  
  .Simon-wrongMove {
    z-index: 1;
    position: absolute;
    top: 33%;
    left: 33%;
    border: 1px solid black;
    background-color: red;
  }
  
  .Simon-victory {
    z-index: 1;
    position: absolute;
    top: 33%;
    left: 30%;
    border: 1px solid black;
    background-color: black;
    color: #FF00FF;
  }