html,body {
  height: 100%;
  background-color: #163345;
  /* Prevent text highlighting */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.App {
  text-align: center;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* Gamepad */
.gamepad {
  position: relative;
  width: 600px;
  margin: 0 auto;
}

.LightsSquare-container {
  margin-top: 10%;
  top: 0;
  left: 0;
}

.Simon {
  z-index: 1;
  position: absolute;
  top: 33%;
  left: 33%;
  border: 1px solid black;
  background-color: white;
}

.Simon-wrongMove {
  z-index: 1;
  position: absolute;
  top: 33%;
  left: 33%;
  border: 1px solid black;
  background-color: red;
}

/* Control Box*/
.Controls {
  position: absolute;
  top: 25%;
  left: 25%;
  margin: 0 auto;
  display: inline-grid;
  width: 300px;
  height: 300px;
  background-color: white;
  border-radius: 50%;
}

.topHalf, .bottomHalf {
  display: flex;
}

/*=======[Dark button colors (default state)]===========================*/
.dark_red {
  border-bottom: 300px solid rgb(175, 0, 105);
  margin: 0 auto;
  margin-right: 0;
  width: 0;
	height: 0;
  text-indent: -9999px;
	border-left: 300px solid transparent;  
}

.dark_green {
	border-bottom: 300px solid rgb(0, 183, 46);
  transform: rotate(90deg);
  margin: 0 auto;
  margin-left: 0;
  width: 0;
	height: 0;
  text-indent: -9999px;
	border-left: 300px solid transparent;  
}

.dark_blue {
	border-bottom: 300px solid rgb(0, 171, 177);
  transform: rotate(270deg);
  margin: 0 auto;
  margin-right: 0;
  width: 0;
	height: 0;
  text-indent: -9999px;
	border-left: 300px solid transparent;  
}

.dark_purple {
	border-bottom: 300px solid rgb(94, 0, 171);
  transform: rotate(180deg); 
  margin: 0 auto;
  margin-left: 0;
  width: 0;
	height: 0;
  text-indent: -9999px;
	border-left: 300px solid transparent;  
}

/*=======[Light button colors (onClick state)]===========================*/
.light_red {
  border-bottom: 300px solid rgb(255, 0, 210);
  margin: 0 auto;
  margin-right: 0;
  width: 0;
	height: 0;
  text-indent: -9999px;
	border-left: 300px solid transparent;  
}

.light_green {
	border-bottom: 300px solid rgb(0, 255, 64);
  transform: rotate(90deg);
  margin: 0 auto;
  margin-left: 0;
  width: 0;
	height: 0;
  text-indent: -9999px;
	border-left: 300px solid transparent;  
}

.light_blue {
	border-bottom: 300px solid rgb(0, 247, 255);
  transform: rotate(270deg);
  margin: 0 auto;
  margin-right: 0;
  width: 0;
	height: 0;
  text-indent: -9999px;
	border-left: 300px solid transparent;  
}

.light_purple {
	border-bottom: 300px solid rgb(140, 0, 255);
  transform: rotate(180deg); 
  margin: 0 auto;
  margin-left: 0;
  width: 0;
	height: 0;
  text-indent: -9999px;
	border-left: 300px solid transparent;  
}

/* ========== [OnOffSwitch] ====================== */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  top: 45%;
  left: 12%;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;  
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.OnOffSwitch-container {
  display: flex;
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 108% 0 0 0;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.Off-label, .On-label {
  padding: 5px;
  font-weight: bold;
  position: relative;
  top: 45%;
  left: 12%;
  height: 20px;
}

/* ========== [Start Button] ====================== */
.StartButton-container {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 0 108% 0 0;
  bottom: 100%;
  left: 50%;
  /* border-left: 1px solid black; */
  border-bottom: 1px solid black;
}

.StartButton {
  background-color: #ccc;
  position: relative;
  top: 55px;
  right: 10px;
  border: none;
  padding: 15px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-weight: bold;
}

.StartButton:focus {
  outline: none;
}

.StartButton:hover {
  background-color: #2196F3;
  color: white;
}

/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}
.ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}

/* ========== [Level Counter] ====================== */
.LevelCounter-container {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 0 0 0 108%;
  bottom: 100%;
}

.LevelCounter {
  position: relative;
  top: 35px;
  left: 65px;
  width: 50px;
  height: 50px;
  background-color: #ccc;
  transform: rotate(45deg);
}

.LevelCounter-label {
  position: relative;
  top: 50px;
  left: 15px;
  font-weight: bold;
}

.counter {
  transform: rotate(-45deg);
  position: relative;
  right: 20px;
  top: 5px;
  float: right;
  font-size: 30px;
}

/*=========================================(Counter background colors for each level)=========================================*/
.LevelCounter-1 {
  position: relative;
  top: 35px;
  left: 65px;
  width: 50px;
  height: 50px;
  background-color: #0E4D92; /* Yale */
  transform: rotate(45deg);
}

.LevelCounter-2 {
  position: relative;
  top: 35px;
  left: 65px;
  width: 50px;
  height: 50px;
  background-color: #0080FF; /* Azure */
  transform: rotate(45deg);
}

.LevelCounter-3 {
  position: relative;
  top: 35px;
  left: 65px;
  width: 50px;
  height: 50px;
  background-color: #008081; /* Teal */
  transform: rotate(45deg);
}

.LevelCounter-4 {
  position: relative;
  top: 35px;
  left: 65px;
  width: 50px;
  height: 50px;
  background-color: #81D8D0; /* Tiffany */
  transform: rotate(45deg);
}

.LevelCounter-5 {
  position: relative;
  top: 35px;
  left: 65px;
  width: 50px;
  height: 50px;
  background-color: #F8E473; /* Laguna */
  transform: rotate(45deg);
}

.LevelCounter-6 {
  position: relative;
  top: 35px;
  left: 65px;
  width: 50px;
  height: 50px;
  background-color: #FCF4A3; /* Banana */
  transform: rotate(45deg);
}

.LevelCounter-7 {
  position: relative;
  top: 35px;
  left: 65px;
  width: 50px;
  height: 50px;
  background-color: #CD5C5C; /* IndianRed */
  transform: rotate(45deg);
}

.LevelCounter-8 {
  position: relative;
  top: 35px;
  left: 65px;
  width: 50px;
  height: 50px;
  background-color: #B47757; /* Hibiscus */
  transform: rotate(45deg);
}

.LevelCounter-9 {
  position: relative;
  top: 35px;
  left: 65px;
  width: 50px;
  height: 50px;
  background-color: #EA3C53; /* Desire */
  transform: rotate(45deg);
}

.LevelCounter-10 {
  position: relative;
  top: 35px;
  left: 65px;
  width: 50px;
  height: 50px;
  background-color: #E0115F; /* Ruby */
  transform: rotate(45deg);
}

.LevelCounter-11 {
  position: relative;
  top: 35px;
  left: 65px;
  width: 50px;
  height: 50px;
  background-color: #007FFF; /* Slateblue */
  transform: rotate(45deg);
}

.LevelCounter-12 {
  position: relative;
  top: 35px;
  left: 65px;
  width: 50px;
  height: 50px;
  background-color: #00BFFF; /* DeepSkyBlue */
  transform: rotate(45deg);
}

.LevelCounter-13 {
  position: relative;
  top: 35px;
  left: 65px;
  width: 50px;
  height: 50px;
  background-color: #4AC948; /* Wales */
  transform: rotate(45deg);
}

.LevelCounter-14 {
  position: relative;
  top: 35px;
  left: 65px;
  width: 50px;
  height: 50px;
  background-color: #5DFC0A; /* GreenLED */
  transform: rotate(45deg);
}

.LevelCounter-15 {
  position: relative;
  top: 35px;
  left: 65px;
  width: 50px;
  height: 50px;
  background-color: #FFFF00; /* Yellow */
  transform: rotate(45deg);
}

.LevelCounter-16 {
  position: relative;
  top: 35px;
  left: 65px;
  width: 50px;
  height: 50px;
  background-color: #FF8000; /* Orange */
  transform: rotate(45deg);
}

.LevelCounter-17 {
  position: relative;
  top: 35px;
  left: 65px;
  width: 50px;
  height: 50px;
  background-color: #FF3300; /* Nectarine */
  transform: rotate(45deg);
}

.LevelCounter-18 {
  position: relative;
  top: 35px;
  left: 65px;
  width: 50px;
  height: 50px;
  background-color: #9B30FF; /* Purple */
  transform: rotate(45deg);
}

.LevelCounter-19 {
  position: relative;
  top: 35px;
  left: 65px;
  width: 50px;
  height: 50px;
  background-color: #FF1CAE; /* SpicyPink */
  transform: rotate(45deg);
}

.LevelCounter-20 {
  position: relative;
  top: 35px;
  left: 65px;
  width: 50px;
  height: 50px;
  background-color: #FF00FF; /* Fuschia */
  transform: rotate(45deg);
}

/*============================================================================================================================*/

/* ========== [Hard Mode] ====================== */
.HardMode-container {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 0 0 108% 0;
  border-left: 1px solid black;
  bottom: 200%;
  left: 50%;
}

.hardmode {
  transform: rotate(-90deg);
  position: relative;
  top: 55px;
  left: -10px;
}

.easy {
  position: relative;
  left: 37px;
  font-weight: bold;
  bottom: -100px;
}

.hard {
  position: relative;
  right: 57px;
  top: 20px;
  font-weight: bold;
}