.App {
  text-align: center;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.topHalf, .bottomHalf {
  display: flex;
}

.Square {
  width: 0;
	height: 0;
  text-indent: -9999px;
	border-left: 300px solid transparent;  
}

.red {
	border-bottom: 300px solid #f09;
}

.green {
	border-bottom: 300px solid rgb(0, 255, 64);
  transform: rotate(90deg);
}

.blue {
	border-bottom: 300px solid rgb(0, 247, 255);
  transform: rotate(270deg);
}

.purple {
	border-bottom: 300px solid rgb(140, 0, 255);
  transform: rotate(180deg); 
}