html {
  height: 100%;
  background-color: #163345;  
}

.App {
  text-align: center;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* Gamepad */
.LightsSquare-container {
  margin-top: 10%;
}

.topHalf, .bottomHalf {
  display: flex;
}

.Square {
  width: 0;
	height: 0;
  text-indent: -9999px;
	border-left: 300px solid transparent;  
}

.red {
  border-bottom: 300px solid rgb(175, 0, 105);
  margin: 0 auto;
  margin-right: 0;
}

.green {
	border-bottom: 300px solid rgb(0, 183, 46);
  transform: rotate(90deg);
  margin: 0 auto;
  margin-left: 0;
}

.blue {
	border-bottom: 300px solid rgb(0, 171, 177);
  transform: rotate(270deg);
  margin: 0 auto;
  margin-right: 0;
}

.purple {
	border-bottom: 300px solid rgb(94, 0, 171);
  transform: rotate(180deg); 
  margin: 0 auto;
  margin-left: 0;
}

/* Control Box*/
.Controls {
  width: 300px;
  height: 300px;
  background-color: white;
  margin: 0 auto;
  position: relative;
  bottom: 450px;
  border-radius: 50%;
  border: 1px #607D8B solid;
}

/* ========== [OnOffSwitch] ====================== */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  top: 60%;
  left: 8%;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;  
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.OnOffSwitch-container {
  display: flex;
  position: relative;
  height: 150px;
  width: 150px;
  background-color: antiquewhite;
  border-radius: 108% 0 0 0;
}

.Off-label, .On-label {
  padding: 5px;
  font-weight: bold;
  position: relative;
  top: 60%;
  left: 8%;
}

/* ========== [Start Button] ====================== */
.StartButton-container {
  position: relative;
  height: 150px;
  width: 150px;
  background-color: antiquewhite;
  border-radius: 0 108% 0 0;
  border-left: 1px black solid;
  bottom: 50%;
  left: 50%;
}